*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    color: black;
  	background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
h1{
    text-align: center;
}
h2{
  text-align: center;
  padding: 30px 0;
}
p{
  padding: 20px 0;
}
footer{
  padding: 20px 0;
}
.cabecalho {
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 24px 1;
}
.cabecalho-imagem {
   height: 500px;
   width: 150%;
  
}
.subtitulo{
  text-align: center;
}

.ingles{
    padding: 10px 0;
}
.rodape{
    background: rgb(238,174,202);
    text-align: center;
    height: 60px;
    padding: 12px 0;
    color: white;
} 
